<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <!--<li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>-->
            <!--Obfuscated email below.-->
            <li></li><a href='&#109;ail&#116;o&#58;%6&#67;o&#117;i&#115;%2E&#37;62et%&#54;8&#37;75ne&#64;u&#110;&#105;v&#45;tou%6Co&#117;%&#55;3e&#46;fr'>louis&#46;bet&#104;une&#64;univ&#45;toul&#111;&#117;se&#46;fr</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
